* {
    outline: none;
    box-sizing: border-box;

    /*font-family: 'IBM Plex Mono', monospace; - For the snipets*/
    font-family: 'IBM Plex Sans', sans-serif; /*Main font*/
}

body {
    margin: 0px;
}

#splash {
    width: 100%;
    height: 85vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: pink;
}

#splash img {
    display: block;
    width: 45px;
    height: 50px;

    position: absolute;
    top: 7px;
    left: 10px;
}

#splash h1 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

#splash h1 span {
    font-size: 100px;
    text-transform: capitalize;
}

h2 {
    font-size: 48px;
    text-align: center;

    margin-top: calc(5vh + 1vw);
    margin-bottom: calc(5vh - 2vw);
}

#lessons {
    width: 100%;
    padding: 0px 3vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#lessons .card {
    margin: 3vw;
    height: 25vh;
    border-radius: 20px;
}

#lessons .card.introduction {
    background: #29ffc6;
    background: -webkit-linear-gradient(125deg, #1BDAAA, #1BDAAA, #29ffc6);
    background: linear-gradient(125deg, #1BDAAA, #1BDAAA, #29ffc6);
}

#lessons .card.thebasics {
    background: #ff9966;
    background: -webkit-linear-gradient(125deg, #ff5e62, #ff9966);
    background: linear-gradient(125deg, #ff5e62, #ff9966);
}

#lessons .card.application {
    background: #F2C94C;
    background: -webkit-linear-gradient(125deg, #F4A966, #F2C94C);
    background: linear-gradient(125deg, #F4A966, #F2C94C);
}
#lessons .card.objectorientedprogramming {
    background: #798EF6;
    background: -webkit-linear-gradient(125deg, #2952ff, #798EF6);
    background: linear-gradient(125deg, #2952ff, #798EF6);
}

#lessons .card a {
    display: block;
    width: 100%;
    height: 100%;

    padding: 20px;
    cursor: pointer;

    text-decoration: none;
    font-weight: 400;
    color: #fff;
}

#lessons .card span {font-size: 23px;}
#lessons .card u {font-size: 18px;}
#lessons .card p {font-size: 16px;}
